body {
    font-family: 'Montserrat',
    ;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid {
    padding: 3%;
}

h1 {
    font-family: 'Montserrat', ;
    line-height: 1.5;
    font-size: 3rem;
    font-weight: 900;

}

/* Navigation Bar */
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}